@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
//vars

$naranja: #ff8d00;
$azul: #016ca4;
$amarillo: #ffe268;
$gris: #777777;

//reset
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1,
h2,
h3 {
  font-weight: 600;
  color: $azul;
  font-size: 1.8em;
  margin: 0.7em 0;
}
h3 {
  font-size: 1.4em;
  font-weight: 600;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: Montserrat;
  position: relative;
  font-size: calc(100% + 0.1vw);
  color: $gris;
}
a {
  color: $azul;
  text-decoration: none;
}
p {
  line-height: 1.6em;
}
// .minmax {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
//   grid-template-columns: repeat(auto-fit, minmax(max-content, 1fr));
// }

//media query
$cel: 479px;
$nocel: 479px;
$tableta: 768px;
$tableta-land: 1024px;
$hd: 1600px;

@mixin cel {
  @media (max-width: #{$cel}) {
    @content;
  }
}

@mixin nocel {
  @media (min-width: #{$nocel}) {
    @content;
  }
}

@mixin tableta_land {
  @media (min-width: #{$tableta-land}) and (max-width: #{$hd - 1px}) {
    @content;
  }
}

@mixin tableta {
  @media (min-width: #{$tableta - 1px}) and (max-width: #{$tableta-land - 1px}) {
    @content;
  }
}

@mixin hd {
  @media (min-width: #{$hd}) {
    @content;
  }
}

.nocel {
  display: block;
}
.cel {
  display: none;
}

@include cel {
  .nocel {
    display: none;
  }
  .cel {
    display: block;
  }
}
section {
  display: grid;
  grid-template-columns: 10% 1fr 10%;

  @include hd {
    grid-template-columns: 15% 1fr 15%;
  }
}
//mixins

// icono de nav
.menu-toggle {
  position: fixed;
  z-index: 999;
  display: none;
  @include cel {
    display: block;
  }
  right: 4vh;
  top: 4vh;
  z-index: 520;
  width: 30px;
  height: 22px;
  background: transparent;
  border-top: 4px solid;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 4px solid;
  color: $azul;
  font-size: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.menu-toggle:before,
.menu-toggle:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: currentColor;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  -o-transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

button.is-active {
  border-color: transparent;
  border-left: none;
}
button.is-active:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
button.is-active:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
}

.anima {
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

@keyframes menuAbierto {
  100% {
    width: 100%;
    height: 100vh;
  }
  30% {
    width: 100%;
    height: 8vh;
  }
}
@keyframes menuCerrado {
  100% {
    width: 100%;
    height: 100vh;
  }
}

.menuFullAbierto {
  animation: menuAbierto 1.2s ease forwards;
}

.desanimaMenu {
  animation: menuCerrado 1s ease forwards reverse;
}

//clases y id
#mainNav {
  position: fixed;
  top: 0;
  z-index: 90;
  width: 100%;
}
#mainNav,
#footer {
  display: flex;
  padding: 0.7em;
  background-color: #fff;
  justify-content: space-evenly;
  align-items: center;
  @include cel {
    flex-direction: column;
  }
  ul {
    display: inherit;
    align-items: center;
    justify-content: center;
    @include cel {
      flex-direction: column;
      text-align: center;
      //ul margenes en cel
      padding: 2em 0;
    }
    li {
      padding: 0.1em 1em;
    }
  }
  .mainLogo {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .anchor {
    flex: 1 1 auto;
    justify-content: right;
    li {
      border-right: 1px solid $naranja;
      &:last-child {
        border-right: none;
      }
    }
  }
  .social {
    flex: 1 0 auto;
    @include cel {
      flex-direction: row;
    }
    img {
      width: 1.5em;
    }
  }
}

// ajustes cel solo menu principal
@include cel {
  #mainNav {
    overflow-y: hidden;
    justify-content: start;
    height: 5em;
    .anchor {
      justify-self: center;
      li {
        border-bottom: solid 1px $naranja;
        border-right: none;
        padding: 1em 0;
      }
    }
    .social {
      img {
        width: 2.5em;
      }
    }
  }
  .mainMenuAbierto {
    height: 100vh;
  }
}

@include cel {
  #footer {
    .mainLogo {
      margin-top: 2em;
    }
    .anchor {
      flex-direction: row;
      flex-wrap: wrap;
      li:first-child {
        font-size: 0.9em;
        border-right: none;
        width: 100%;
        padding: 3em 2em;
      }
    }

    .social {
      flex: 1 0 auto;
      img {
        width: 2.5em;
      }
    }
  }
}
.active {
  font-weight: bold;
}

.slide {
  img {
    width: 100%;
    height: auto;
  }
}

#athetefood {
  overflow: hidden;
  article,
  blockquote,
  #walker,
  #causes {
    grid-column: 2 / span 1;
  }
  article {
    margin-top: 4em;
    padding-left: 2em;
    width: 60%;
    @include cel {
      padding-left: 0;
      width: 100%;
    }
  }
  blockquote {
    color: $naranja;
    border-left: solid $naranja 3px;
    margin: 2em 2em 0;
    padding-left: 2em;
    font-size: 1.5em;
    font-weight: 600;
    width: 50%;
    justify-self: center;
    @include cel {
      width: 70%;
      font-size: 1.2em;
      margin: 2em 0em 0;
      justify-self: flex-end;
    }
  }
  #walker {
    width: 100%;
    background: url(../img/workerBg.jpg) no-repeat;
    background-size: 100% auto;
    background-position: center 70%;
    display: flex;
    justify-content: center;
    img {
      width: 60%;
      height: auto;
    }
    @include cel {
      margin-top: 3em;
      grid-column: 1/-1;
      background-size: 130% auto;
      img {
        width: 80%;
      }
    }
  }
  #causes {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include cel {
      grid-template-columns: 1fr;
    }
    .imagePqt {
      grid-column: 1 / span 1;
      @include cel {
        order: 2;
        padding-top: 1em;

        img {
          margin: 2em 0;
        }
      }
    }
    div {
      grid-column: 2 / span 1;
      @include cel {
        grid-column: 1 / -1;
        order: 1;
      }
    }
  }
}

#freethefoot {
  overflow: hidden;
  background: rgb(255, 226, 104);
  background: url(../img/freethefootBg.png) no-repeat,
    radial-gradient(
      circle,
      rgba(255, 226, 104, 1) 25%,
      rgba(255, 141, 0, 1) 100%
    );
  background-size: 60%, 100%;
  background-position: -18px top, center center;
  text-align: center;

  h1,
  p,
  .boxFreethefoot {
    grid-column: 2 / span 1;
  }
  h1 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    font-size: 2.5em;
  }
  p {
    max-width: 70%;
    justify-self: center;
    margin-bottom: 4em;
    @include hd {
      max-width: 50%;
    }
  }
  .boxFreethefoot {
    img {
      padding: 1em;
      max-width: 130px;
    }
    justify-self: flex-end;
    width: 60%;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    text-align: left;
    margin-bottom: 1em;

    p {
      margin-bottom: 0;
      max-width: 100%;
    }
    &:nth-of-type(1) {
      transform: translateX(-0%);
      -webkit-transform: translateX(-0%);
    }
    &:nth-of-type(2) {
      width: 45%;
    }
    &:nth-of-type(3) {
      width: 45%;
    }
  }

  #boxesfreethefoot {
    padding: 2em 0;
    grid-column: 2 / span 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2em;
    div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      h3,
      p {
        flex: 1 0 auto;
      }
      p {
        margin-bottom: 0;
      }
      img {
        align-self: flex-end;
      }
    }
  }

  @include cel {
    background-size: 100%, 100%;
    background-position: -18px 35vh, center center;

    h1 {
      margin-top: 1.5em;
      margin-bottom: 0.5em;
      font-size: 2em;
    }
    p {
      max-width: 100%;
      margin-bottom: 45vh;
    }
    .boxFreethefoot {
      img {
        padding: 1em;
        max-width: 130px;
      }
      justify-self: flex-start;
      width: 60%;
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      text-align: left;
      margin-bottom: 1em;

      p {
        margin-bottom: 0;
        max-width: 100%;
      }
      &:nth-of-type(1) {
        transform: translateX(-0%);
        -webkit-transform: translateX(-0%);
      }
      &:nth-of-type(2) {
        width: 100%;
      }
      &:nth-of-type(3) {
        width: 100%;
      }
    }

    #boxesfreethefoot {
      padding: 2em 0;
      grid-template-columns: 1fr;
      margin-top: 2em;
      div {
        h3,
        p {
          flex: 1 1 auto;
        }
      }
    }
  }
  @include hd {
    background-size: 55%, 100%;
    background-position: -20px -40%, center center;
  }
}
.symptoms {
  overflow: hidden;
  .symptomsB {
    grid-column: 2/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: flex-end;

    div {
      width: 80%;
      padding-left: 4em;
      grid-column: 1 / span 1;
    }
    li {
      padding-bottom: 1em;
      &:before {
        content: "\2022";
        color: $azul;
        font-weight: bold;
        font-size: 1.2em;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }
    }
    img {
      grid-column: 2 / span 1;
    }

    @include cel {
      grid-template-columns: 1fr;
      div {
        width: 80%;
        padding-left: 0em;
        padding: 2em;
        grid-column: 1 / span 1;
      }
      img {
        grid-column: 1 / span 1;
      }
    }
  }
}
.symptoms:last-of-type {
  .symptomsB {
    grid-column: 1 / span 2;
    justify-self: flex-start;
    img {
      grid-column: 1 / span 1;
      order: 1;
    }
    div {
      grid-column: 2 / span 2;
      order: 2;
    }
    @include cel {
      grid-template-columns: 10% 1fr;
      div {
        width: 80%;
        padding-left: 0em;
        padding: 2em;
        grid-column: 2 / span 1;
        order: 1;
      }
      img {
        grid-column: 1 / span 2;
        order: 2;
      }
    }
  }
}

#wherebuy {
  background: rgb(255, 226, 104);
  background: radial-gradient(
    circle,
    rgba(255, 226, 104, 1) 25%,
    rgba(255, 141, 0, 1) 100%
  );
  text-align: center;
  padding: 4em 0;
  h2,
  ul,
  img {
    grid-column: 2 / span 1;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      flex: 1 1 auto;
      display: inherit;
      justify-content: center;
      align-items: center;
      padding: 1em;

      img {
        width: 80px;
        height: auto;
      }
      &:nth-child(3) {
        img {
          width: 100px;
          height: auto;
        }
      }
      &:nth-child(4) {
        img {
          width: 110px;
          height: auto;
        }
      }
    }
  }
  img {
    justify-self: center;
    width: 50%;
    height: auto;
    @include cel {
      width: auto;
    }
  }
}

#locator {
  align-items: stretch;

  grid-template-columns: 40% 1fr;
  @include tableta {
    grid-template-columns: 1fr 1fr;
  }

  h2 {
    color: #fff;
  }
  #left {
    background-color: $azul;
    background: linear-gradient(0deg, $azul 0%, #1697dd 100%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1em;
    position: relative;

    #ui {
      background-color: #fff;
      border-radius: 2em 2em 0;
      width: 370px;
      @include tableta {
        width: 300px;
      }

      margin-bottom: 3em;
      position: relative;

      #holderinput {
        position: relative;
        text-align: center;
        background-color: $amarillo;
        background: linear-gradient(
          0deg,
          #fdb53e 0%,
          rgba(255, 226, 104, 1) 100%
        );

        -webkit-box-shadow: 0px 10px 0px -3px rgba(227, 228, 228, 0.8);
        -moz-box-shadow: 0px 10px 0px -3px rgba(227, 228, 228, 0.8);
        box-shadow: 0px 10px 0px -3px rgba(227, 228, 228, 0.8);

        border-radius: 2em;
        padding: 0.8em;
      }
      #arrow {
        display: none;
        background-color: $azul;
        color: #fff;
        position: absolute;
        width: 60px;
        height: 120px;
        right: -40px;
        border-radius: 0 30px 30px 0;
        text-align: right;
        font-size: 5em;
        padding-right: 0.1em;
        cursor: pointer;
      }

      #holderinputUi {
        padding: 1em;
        width: 100%;
        justify-content: center;
        display: flex;
      }

      #address {
        padding: 1em;
        overflow-y: scroll;
        height: 410px;
        @include hd {
          height: 60vh;
        }
        li {
          display: flex;
          justify-content: flex-start;
          img {
            align-self: flex-start;
            height: auto;
            flex: 1 0 auto;
            padding: 0.6em;
          }
          .txt {
            flex: 1 1 auto;
            padding-bottom: 1em;
            border-bottom: solid 1px $naranja;
          }
        }
      }

      //product
      #storelocatorProduct {
        right: -28%;
        bottom: -15%;
        position: absolute;
      }
      //shadow
      &:before {
        content: "";
        position: absolute;
        width: 150%;
        height: 120px;
        bottom: -60px;
        @include tableta {
          bottom: -70px;
        }
        right: 0;
        z-index: 0;
        background: url(../img/shadowStoreLocator.png) no-repeat;
        background-size: 100%;
        background-position: top right;
        @include cel {
          display: none;
        }
      }
    }
  }
  #map {
    background-color: #e9e2da;
    #ask {
      background-color: #fff;
      padding: 1.5em;
      border-radius: 0 2em 2em 0;
      font-size: 0.8em;
      width: 60%;
      border-left: solid $naranja 2px;
      margin-top: 1em;
      -webkit-box-shadow: 4px 9px 17px -4px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 4px 9px 17px -4px rgba(0, 0, 0, 0.75);
      box-shadow: 4px 9px 17px -4px rgba(0, 0, 0, 0.75);
      @include cel {
        width: 80%;
        margin-top: 0;
      }
    }
  }
  // phone
  @include cel {
    grid-template-columns: 1fr;
    position: relative;
    #holder {
      overflow: hidden;
    }
    #ui {
      // @extend .anima;
      width: 250px !important;
      border-radius: 0 2em 2em 0 !important;
      margin-bottom: none;
      position: absolute !important;
      left: 0;
      top: 40vh;
    }
    @keyframes animaCloseUi {
      0% {
        left: 0px;
      }
      100% {
        left: -250px;
      }
    }
    @keyframes animaOpenUi {
      0% {
        left: -250px;
      }
      100% {
        left: 0px;
      }
    }
    .closeUi {
      animation: animaCloseUi 1s ease forwards;
      //left: -150px!important;
    }
    .openUi {
      animation: animaOpenUi 1s ease forwards;
    }
    #holderinput {
      border-radius: 0 2em 2em 0 !important;
    }
    #arrow {
      display: block !important;
    }

    #address {
      height: 300px !important;
      font-size: 0.8em;
    }

    //product
    #storelocatorProduct {
      display: none;
    }
  }

  #map {
    height: 100vh;
  }
}

input {
  border-radius: 1.5em 0 0 1.5em;
  border: none;
  padding: 0.8em;
  width: 100%;
  margin: 0;
  &::placeholder {
    font-weight: bold;
    text-align: center;
    color: $azul;
  }
}
button {
  color: #fff;
  background-color: $azul;
  background-color: $amarillo;
  background: linear-gradient(0deg, $azul 0%, #1697dd 60%);
  border-radius: 0 1.5em 1.5em 0;
  margin: 0;
  font-size: 1.5em;
}
